body{
    background: blue;
    font: normal 15pt Arial;
    text-align: center;
}
header{
   text-align: center;
   color: white;
}
section{
    background: white;
    border-radius: 10px;
    padding: 100px;
    width: 700px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
}
footer{
    text-align: center;
    color: white;
    font-style: italic;
}
.img{
    text-align: center;
    border-radius:50%;
    height: 300px;
    width: 300px;
    transition: border-radius 50s, width 50s, height 50s,
}
.img:hover{
    width: 700px;
    height: 600px;
    border-radius: 5%; 
}